<div class="card mainColor text-white text" style="margin-top: 30px; ">
    <div class="card-body">
        <h5 class="card-title">Cartão VISA 3312</h5>
        <table class="table table-striped text-white text-center">
            <thead >
                <tr>
                <th scope="col">Cartao</th>
                <th scope="col">Data</th>
                <th scope="col">Valor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>3312</td>
                <td>15/02/2019</td>
                <td>R$6.588,00</td>
                </tr>
            </tbody>
          </table>
    </div>
</div>