hr.light {
    border-color: #faf6f6;
    border-width: 2px;
}
.margin-val {
    margin-left: 20px;
}
.margin-cart {
    margin-left: 80px;
}
.margin-data {
    margin-left: 80px;
}
.margin-cart2 {
    margin-left: 50px;
}
.margin-data2 {
    margin-left: 40px;
}
.margin-top {
    margin-top: 40px;
}