<div class="card mainColor text-white text" style="margin-top: 60px;">
  <div class="card-body">
    <h4 class="card-title">Detalhamento de Gastos</h4>
    <hr class="light">
  <section>
    <p class="margin-top">
      <label class="margin-val">Valor</label>
      <label class="margin-cart">Cartão</label>
      <label class="margin-data">Data</label>
    </p>
  </section>
    <div class="card mainColor text-white text" >
        
    <div class="card mainColor text-white text" >
        <section routerLink="/cartao">
          <p>
            <label>R$6.588,00 </label>
            <label class="margin-cart2">VISA 3312</label>
            <label class="margin-data2">15/02/2019</label>
          </p>
        </section>
    </div>
    <section>
          <p>
              <label>R$1.403,00</label>
              <label class="margin-cart2">VISA 9732</label>
              <label class="margin-data2">14/02/2019</label>
          </p>
        </section>
    </div>
  </div>
</div>

