<nav class="navbar navbar-expand-lg navbar-dark text-light">
    <a class="navbar-brand" routerLink="/"><img width="20%" src="/assets/logo.svg"></a>
    <button #navbarToggler class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/despesas">Despesas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/fornecedores">fornecedores</a>
          </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/Venda">Vendas</a>
        </li>
      </ul>
    </div>
  </nav>