<div class="card mainColor text-white" style="margin-top: 20px; border-radius: 10px;">
  <div class="card-head centered">
    <form class="form-inline justify-content-center" style="border-radius: 20px;">
    <input class="form" type="search" placeholder="Buscar" aria-label="Buscar">
    <button class="btn" (click)="isShown != isShown">
        <i class="fas fa-search" style="color: white!important;"></i>
    </button>
    </form>
  </div>
</div>
<div class="card mainColor text-white" style="margin-top: 20px; border-radius: 10px;">
    <div class="card-body">
        <p>
            Tereza e Márcia Eletrônica Ltda:
        </p>
    </div>
    <div class="card-footer justify-content: flex-end">
        <img src="../../../assets/img/icons8-medal-first-place-96.png" style="width: 25px; width:25px;">
        <p>
          Melhor Preço
        </p>
    </div>
  </div>
  <div class="card mainColor text-white" style="margin-top: 20px; border-radius: 10px;">
      <div class="card-body">
          <p>
              Antonia Luiza Eletrônica Ltda:
          </p>
      </div>
      <div class="card-footer justify-content: flex-end">
          <img src="../../../assets/img/icons8-medal-first-place-96.png" style="width: 25px; width:25px;">
          <p>
            Melhor Preço
          </p>
      </div>
    </div>