<nav class="navbar fixed-bottom mainColor text-white" style="margin-top: 30px;">
    <ul class="nav justify-content-center">
        <li class="nav-item active">
          <a class="nav-link" routerLink="">
            <img src="../../../assets/img/icons8-bank-cards-96 (1).png"
             style="width: 30px; height:30px; color: white !important;">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/despesas">
            <img src="../../../assets/img/icons8-data-transfer-96 (1).png"
             style="width: 30px; height:30px; color: white !important;">
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/fornecedores">
              <i class="fas fa-search" style="color: white !important; width: 30px; height: 30px;"></i>
            </a>
          </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/venda">
              <img src="../../../assets/img/icons8-request-money-96.png"
             style="width: 30px; height:30px; color: white !important;">
            </a>
        </li>
      </ul>
  </nav>