
<div class="card mainText"  style="margin-top: 20px; border-radius: 10px;">
    <div class="card-body">
        <h5 class="card-title">Minha Conta</h5>
          <p style="color:grey">CNPJ: 76.275.937/1298-21</p>
        <h5 class="card-title"> Meus Cartoes:</h5>
    </div>
    <div class="card-body">
      
    </div>
</div>
<div class="card text-center mx-auto" style="margin-top: 15px; margin-bottom: 10px; width: 15rem; border-radius: 10px;">
    <div class="card-header mainColor">
        <h5 class="card-title text-white" routerLink="/cartao">Visa 3132</h5>  
    </div>
    <div class="card-body">
      <img src="../../../assets/img/vco-cards-linear-icon-800x450.png" width="79" height="65" class="card-img-top" alt="">
      <p>Val 08/08</p>
    </div>
</div>
<div class="card text-center mx-auto" style="margin-top: 15px; margin-bottom: 10px; width: 15rem; border-radius: 10px;">
    <div class="card-header mainColor">
        <h5 class="card-title text-white" routerLink="/cartao">Visa 9818</h5>  
    </div>
    <div class="card-body" routerLink="/cartao">
      <img src="../../../assets/img/vco-cards-linear-icon-800x450.png" width="79" height="65" class="card-img-top" alt="">
      <p>Val 08/08</p>
    </div>
</div>
