<div class="card bg-dark text-white text" style="margin-top: 30px;">
    <div class="card-body">
        <h5 class="card-title">Minha Conta</h5>
        <h5 class="card-title"> Meus Cartoes</h5>
    </div>
    <div class="card text-center mx-auto" style="margin-top: 25px; width: 15rem;">
        <div class="card-body  bg-dark text-white">
          <h5 class="card-title" >Visa 9732</h5>
          <img src="../../../assets/img/Visa_Inc._logo.svg" width="30" height="30" class="card-img-top" alt="">
          <p>Val 08/08</p>
        </div>
    </div>
    <div class="card text-center mx-auto" style="margin-top: 25px; width: 15rem;">
        <div class="card-body  bg-dark text-white">
          <h5 class="card-title" >Visa 331  2</h5>
          <img src="../../../assets/img/Visa_Inc._logo.svg" width="30" height="30" class="card-img-top" alt="">
          <p>Val 08/08</p>
        </div>
    </div>
    <div class="card text-center mx-auto" style="margin-top: 25px; width: 15rem; border-radius: 30px;">
        <div class="card-body  bg-dark text-white">
          <h5 class="card-title" >Visa 9854</h5>
          <img src="../../../assets/img/Visa_Inc._logo.svg" width="30" height="30" class="card-img-top" alt="">
          <p>Val 08/08</p>
        </div>
    </div>
</div>