<div class="card">
    <div class="card-body">
        <h5 class="card-title">Minha Conta</h5>
        <h5 class="card-title"> Meus Cartoes</h5>
        <div class="card">
            <div class="card-body">
              <h5 class="card-title" >Visa</h5>
              <img src="../../../assets/img/VISA.svg" width="70" height="90" class="card-img-top" alt="">
              <p>Val 08/08</p>
          </div>
          <div class="card">
              <div class="card-body">
                <h5 class="card-title" >Visa</h5>
                <img src="../../../assets/img/VISA.svg" width="70" height="90" class="card-img-top" alt="">
                <p>Val 08/08</p>
            </div>
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title" >Visa 0767</h5>
                  <img src="../../../assets/img/VISA.svg" width="70" height="90" class="card-img-top" alt="">
                  <p>Val 08/08</p>
              </div>
    </div>
</div>